body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 30px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    font-weight: 100;
}
nav ul li, footer ul li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}
nav ul, nav ul li {
    text-align: center;
    vertical-align: middle;
}
nav ul {
    border-top: 2px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    color: #888;
}
nav ul li a.pagelist {
    color: #507ec9;
    transition: color 0.3s, background 0.3s;
    text-decoration: none;
    padding: 6px 6px 6px 6px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    vertical-align: middle;
}
nav ul li a.pagelist:hover {
    color: white;
    background: #507ec9;
    text-decoration: none;
}
nav ul li ul.dropdown {
    color: #507ec9;
    transition: color 0.3s, background 0.3s;
    text-decoration: none;
    padding: 6px 6px 6px 6px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    vertical-align: middle;
    position: absolute;
    display: none;
    min-width: 100%;
    z-index: 999;
}
nav ul li:hover ul.dropdown {
    display: block;
}
nav ul li ul.dropdown li{
    display: block;
    color: #507ec9;
    background: white;
    transition: color 0.3s, background 0.3s;
    text-decoration: none;
    text-align: center;
    padding: 6px 6px 6px 6px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    vertical-align: middle;
    position: relative;
    display: block;
    min-width: 100%;
    z-index: 999;
}
nav ul li ul.dropdown li:hover {
    color: white;
    background: #507ec9;
    text-decoration: none;
}
nav ul li a.icon{   
    color: #507ec9;
    transition: color 0.3s, background 0.3s;
    text-decoration: none;
    padding: 6px 6px 6px 6px;
    width: 30px;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    display: inline-block;
    -webkit-transition: background-image 0.3s; /* For Safari 3.1 to 6.0 */
    transition: background-image 0.3s;
    background-image: url("/assets/images/icon.jpg");
    background-size: 45px;
    background-position: center;
    vertical-align: middle;
}
nav ul li a.icon:hover {
    background-image: url("/assets/images/icon2.jpg");
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: right;
}  

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
