body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: 100;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav ul, nav ul li {
    text-align: center;
}
nav ul {
    border-top: 2px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    color: #888;
}
nav ul li a {
    color: #507ec9;
    transition: color 0.3s, background 0.3s;
    text-decoration: none;
    padding: 6px 6px 6px 6px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
}
nav ul li a:hover {
    color: white;
    background: #507ec9;
    text-decoration: none;
}
nav ul li a div {
    width: 39px;
    height: 39px;
    display: inline-block;
    background: white;
    -webkit-transition: background 0.3s, background-image 0.3s; /* For Safari 3.1 to 6.0 */
    transition: background-image 0.3s;
    background-image: url("/assets/images/icon.jpg");
}
nav ul li a div:hover {
    background: #507ec9;
    background-image: url("/assets/images/icon2.jpg");
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: right;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
