/* @import "highlighter/default.css"; */
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Hina+Mincho&family=Shippori+Mincho+B1:wght@400;500;600&display=swap');

body {
    font-family: 'Shippori Mincho B1', serif;
    letter-spacing: 0.04em;
    /* font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans-Serif'; */
    margin: 0 auto;
    background-color: #DDD;
    color: #666;
    background-position: center center;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
	transition: color 0.3s;
    color: #507ec9;
}

a:hover {
    color: #2D5493;
}

h1 {
    font-family: 'Hina Mincho', serif;
    font-size: 2.5em;
	font-weight: lighter;
    color: #444;
    text-align: center;
    padding-top: 20em;
    padding-bottom: 4em;
    padding-left: auto;
    padding-right: auto;
    margin: 0;
    letter-spacing: 0.2em;
    background-color: aliceblue;
    background-image: url('/~yang/assets/images/recital-wide.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    font-family: 'Hina Mincho', serif;
    letter-spacing: 0.2em;
    font-size: 2.2em;
	font-weight: normal;
    color: #555;
    text-align: center;
}

h2:after {
    text-align: center;
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 1em auto 0 auto; /* This will center the border. */
    width: 2em; /* Change this to whatever width you want. */
    padding-top: 0.1em; /* This creates some space between the element and the border. */
    border-bottom: 2px solid #BBB; /* This creates the border. Replace black with whatever color you want. */
}

h3 {
    display: none;
}

p {
    font-size: 1.0em;
    line-height: 1.5em;
    color: #666;
    text-align: justify;
}

a {
    text-decoration: none;
	transition: color 0.3s;
    color: #507ec9;
}

a:hover {
    color: #2D5493;
}

ul {
    padding: 1em;
}

ul li, ol li {
    font-size: 1.0em;
    line-height: 1.8em;
}

ul li {
    list-style: none;
}

ul li ul li, ol li ol li{
    font-size: 0.8em;
    color: #666;
}

p.title {
    font-size: 1.1em;
    margin-bottom: 0;
    margin-top: 2em;
}

p.translate {
    font-size: 0.8em;
    margin-left: 1.6em;
}

p.composer {
    text-align: right;
    margin-bottom: 0;
}

p.composer_cn {
    margin-top: 0;
    text-align: right;
}

#info {
    letter-spacing: 0.1em;
}

#program {
    background-color: #fcfcfc;
}

#address div div ul {
    margin-left: 1em;
    margin-top:auto;
    margin-bottom:auto;

}

#address div div ul li {
    list-style: none;
}

iframe {
    flex-grow: 1; 
    border: none; 
    margin: 0; 
    padding: 0;
}

blockquote {
    text-align: center;
    color: #749696;
    padding: 1em;
}

blockquote p {
    font-family: 'PT Serif', 'sans-serif';
    color: #749696;
    font-size: 1em;
}


@media only screen and (max-width: 35em) {
    #copyright {
        display: none;
    }

    #academic-dropdown-block, #cv, #teaching, #music {
        display: none;
    }

    #nav-container {
        grid-template-areas: ". . icon menu .";
    }
}

@media only screen and (min-width: 35em) {
    #menu-dropdown-block {
        display: none;
    }
}

/* Main Content */

.content {
    padding: 2em 5% 2em 5%;
	max-width: 50em;
    margin: auto;
}

.post {
    background: white;
    padding: 2em;
    border: solid;
    border-width: 1px;
    border-color: #DDD;
    box-shadow: 0em 0em 0.3em 0em #BBB;
    margin: 2em 0em 2em 0em;
}

.columns {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
}

.leftcolumn {
    grid-area: left;
    border-right: #DDD 2px solid;
}

.rightcolumn {
    grid-area: right;
}

/* Thumbnails */

.thumb {
    background-color: #DDD;
    border-radius: 2em;
}

.thumb a:hover .thumbpic{
    opacity: 0.5;
}

.thumbpic {
    transition: 0.5s;
    height: 8em;
    background-size: cover;
    background-color: white;
    background-position: center;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

/* Footer */

footer {
    font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans-Serif';
    letter-spacing: normal;
    background-color: aliceblue;
}

#logo {
    grid-area: logo;
    max-width: 8em;
}

#copyright {
    grid-area: copyright;
    font-size: 0.6em;
    color: #BBB;
}

#footer-container ul {
    grid-area: links;
    justify-self: end;
    padding: 0;
    margin: 0;
}

#footer-container ul li {
    display: inline;
    list-style: none;
    margin-left: 0.8em;
    font-size: 0.6em;
}

#footer-container ul #utmath {
    margin-left: 0;
}

#utmath a {
    color: #BF5700; 
}

#footer-container {
    max-width: 50em;
    margin: auto;
    padding: 0% 5% 0% 5%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 6em;
    grid-template-areas: 
        "logo copyright links";
}

@media print {
    p {
        color: black;
    }

    h1 {
        background-image: none;
        padding: 2em;
        padding-top: 2em;
        font-size: 1.5em;
        margin: 0;
        padding-bottom: 0em;
        background-color: white;
        color: black;
    }

    #info {
        display: none;
    }

    h2 {
        margin: 0em;
        padding-top: 0em;
        padding-bottom: 0em;
        font-size: 1.2em;
        color: black;
    }

    #program {
        background-color: white;
    }

    #program2 {
        margin-top: 0em;
        margin-bottom: 0em;
        padding: 1em 10% 2em 10%;
    }

    #address {
        display: none;
    }

    footer {
        display: none;
    }

    p.title {
        font-size: 0.8em;
        margin-top: 0em;
    }

    p.translate {
        font-size: 0.7em;
        margin-top: 0.2em;
        margin-bottom: 0em;
    }

    .composer {
        font-size: 0.7em;
        margin-top: 0em;
    }

    .composer_cn {
        font-size: 0.7em;
    }
    
    h3 {
        display: block;
        font-family: 'Babylonica', cursive;
        text-align: center;
        font-size: 1.3em;
        font-weight: lighter;
        margin-top: 0.5em;
        color: black;
    }

    #background {
        width: 100%;
        height: 100%;
        position: fixed;
        background-image: url('/~yang/assets/images/recital.jpeg');
        background-size: cover;
        opacity: 25%;
    }

}