@import "highlighter/default.css";

body {
    font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans-Serif';
    margin: 0 auto;
    background-color: #DDD;
    color: #333;
    background-image: url("/users/jcyang/assets/images/background.jpg");
    background-position: center center;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
	transition: color 0.3s;
    color: #507ec9;
}

a:hover {
    color: #2D5493;
}

h1 {
    font-family: 'Exo', 'Roboto', sans-serif;
    font-size: 2.5em;
	font-weight: lighter;
    color: #333;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
	font-weight: normal;
    color: #333;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 1.5em;
	font-weight: lighter;
    color: #749696;
    border-bottom: solid;
    border-bottom-width: 1px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
	font-weight: 400;
    color: #444;
    margin: 1em;
}

h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
	font-weight: lighter;
    color: #749696;
    border-bottom: solid;
    border-bottom-width: 1px;
    padding-bottom: 0.3em;
    margin: 1em;
    margin-bottom: 0.5em;
}

h6 {
    font-family: 'Exo', 'Palanquin Dark', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    letter-spacing: 1px;
    color: #555;
    text-transform: capitalize;
    font-variant: small-caps;
}

h6:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto 0 0; /* This will center the border. */
    width: 2em; /* Change this to whatever width you want. */
    padding-top: 0.1em; /* This creates some space between the element and the border. */
    border-bottom: 3px solid; /* This creates the border. Replace black with whatever color you want. */
}

p {
    font-size: 1.0em;
    line-height: 1.5em;
    color: #555;
    text-align: justify;
}

a {
    text-decoration: none;
	transition: color 0.3s;
    color: #507ec9;
}

a:hover {
    color: #2D5493;
}

ul li, ol li {
    font-size: 1.0em;
    line-height: 1.8em;
    list-style: square;
}

ul li ul li, ol li ol li{
    font-size: 0.8em;
    color: #666;
}

blockquote {
    border-left: solid 0.2em #888;
    padding-left: 1em;
    margin-left: 0;
    margin-right: 0;
    color: #749696;
}

blockquote p {
    font-family: 'PT Serif', 'sans-serif';
    color: #749696;
    font-size: 1em;
}

[theorem] ol li {
    font-family: 'PT Serif', 'Noto Serif';
    color: #749696;
}

input {
    text-align: right;
}

/* Header */

#myCanvas {
    width: 1000;
    height: 360;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#mt {
	margin: 0;
	padding: auto;
    min-height: 20em;
    cursor: move;
}

#mt p {
    margin: 0px;
    color: aliceblue;
    text-align: center;

    cursor: move;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#name {
    padding-top: 1.5em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 100;
    font-style: italic;
	font-size: 4em;
    letter-spacing: 0.16em;
}

#institute {
    padding-top: 1em;
    padding-bottom: 4em;
    font-family: 'Cinzel', serif;
    font-size: 1.0em;
    letter-spacing: 0.16em;
}

/* Navigation */

nav {
    background-color: white;
    border-top: 2px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}

#nav-container {
    max-width: 50em;
    padding: 0% 5% 0% 5%;
    margin: 0.3em auto 0.3em auto;
    display: grid;

    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto auto;
    grid-template-areas: "academic cv icon teaching music";
}

nav a {
    display: inline-block;
    padding: 0.4em;
    border-radius: 0.6em;
    transition: color 0.3s, background-color 0.3s;
}

nav a:hover {
    color: white;
    background: #507ec9;
}

nav .dropdown {
    border-width: 1px;
    border-style: solid;
    border-color: #507ec9;
    border-radius: 0.6em;
    position: absolute;
    z-index: 1;
    text-align: center;
    background-color: white;
    justify-content: center;
    display: none;
}

nav .dropdown a {
    border-radius: 0;
}

nav .dropdown a.dropdown-first {
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

nav .dropdown a.dropdown-last {
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

#icon{
    grid-area: icon;
    width: 2em;
    height: 2em;
    background-image: url("../assets/images/icon-s.jpg");
    background-size: 3em;
    background-position: center;
    transition: background-image 0.3s;
}

#icon:hover {
    background-image: url("../assets/images/icon2-s.jpg");
}

#academic-dropdown-block:hover #academic-dropdown {
    display: grid;
}

#academic {
    position: relative;
}

#menu-dropdown-block {
    grid-area: menu;
}

#menu-dropdown-block:hover #menu-dropdown {
    display: grid;
}

#menu {
    position: relative;
}

@media only screen and (max-width: 35em) {
    #copyright {
        display: none;
    }

    #academic-dropdown-block, #cv, #teaching, #music {
        display: none;
    }

    #nav-container {
        grid-template-areas: ". . icon menu .";
    }
}

@media only screen and (min-width: 35em) {
    #menu-dropdown-block {
        display: none;
    }
}

/* Main Content */

.content {
    padding: 2em 5% 2em 5%;
	max-width: 50em;
    margin: auto;
}

.post {
    background: white;
    padding: 2em;
    border: solid;
    border-width: 1px;
    border-color: #DDD;
    box-shadow: 0em 0em 0.3em 0em #BBB;
    margin: 2em 0em 2em 0em;
}

.columns {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
}

.leftcolumn {
    grid-area: left;
    border-right: #DDD 2px solid;
}

.rightcolumn {
    grid-area: right;
}

/* Thumbnails */

.thumb {
    background-color: #DDD;
    border-radius: 2em;
}

.thumb a:hover .thumbpic{
    opacity: 0.5;
}

.thumbpic {
    transition: 0.5s;
    height: 8em;
    background-size: cover;
    background-color: white;
    background-position: center;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

/* Footer */

footer {
    background-color: white;
}

#logo {
    grid-area: logo;
    max-width: 8em;
}

#copyright {
    grid-area: copyright;
    font-size: 0.6em;
    color: #BBB;
}

#footer-container ul {
    grid-area: links;
    justify-self: end;
    padding: 0;
    margin: 0;
}

#footer-container ul li {
    display: inline;
    list-style: none;
    margin-left: 0.8em;
    font-size: 0.6em;
}

#footer-container ul #utmath {
    margin-left: 0;
}

#utmath a {
    color: #BF5700; 
}

#footer-container {
    max-width: 50em;
    margin: auto;
    padding: 0% 5% 0% 5%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 6em;
    grid-template-areas: 
        "logo copyright links";
}

/* Pictures */

.figure {
    text-align: center;
    font-weight: normal;
    font-size: 0.8em;
}

.center-image
{
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.rotate90
{
    transform: rotate(90deg);
}

.rotate270
{
    transform: rotate(270deg);
}

/* Formula */

.MJXc-display {
    overflow-x: scroll;
    overflow-y: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.MJXc-display::-webkit-scrollbar {
    display: none;
}

/* Coding */

.pde {
    margin: 2em auto;
    max-width: 1080px;
}

pre {
    overflow: auto;
    border: solid #BBB;
    border-width: 1px;
    padding: 1em;
}

.highlight {
    border-radius: 0.6em;
}