body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: lighter;
    margin: 30px auto;
    background-color: #F7F7F7;
    color: #333;
}

a {
    text-decoration: none;
	transition: color 0.3s;
    color: #507ec9;
}

a:hover {
    color: #2D5493;
}

h1 {
    font-size: 2em;
	font-weight: normal;
    color: #333;
}

p {
    font-size: 1.2em;
    line-height: 1.8em;
    color: #555;
}

.container ul li {
    font-size: 1.2em;
    line-height: 1.8em;
    color: #555;
}

.container ul li ul li{
    font-size: 1.2em;
    line-height: 1.8em;
    color: #555;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
}

nav ul {
	padding: 0px;
    text-align: center;
    vertical-align: middle;
    border-top: 2px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    background-color: white;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin: 5px 15px;
}

nav ul li a {
    display: inline-block;
    transition: color 0.3s, background-color 0.3s;
    padding: 6px;
    border-radius: 8px;
}

nav ul li a:hover {
    color: white;
    background: #507ec9;
}

nav ul li ul.dropdown {
    transition: color 0.3s, background-color 0.3s;
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #507ec9;
    border-radius: 8px;
    position: absolute;
    display: none;
    z-index: 999;
}

nav ul li:hover ul.dropdown {
    display: block;
}

nav ul li ul.dropdown li {
    margin: 1.5px 6px;
}

nav ul li a.icon{
    transition: background-image 0.3s;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    -webkit-transition: background-image 0.3s; /* For Safari 3.1 to 6.0 */
    background-image: url("../assets/images/icon-s.jpg");
    background-size: 45px;
    background-position: center;
    vertical-align: middle;
}

nav ul li a.icon:hover {
    background-image: url("../assets/images/icon2-s.jpg");
}

footer ul {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
	margin: auto 15%;
	padding: 6px 0px;
}

footer ul li {
    display: inline-block;
	float: right;
}

footer ul li a {
    margin-left: 20px;
}

footer ul li.copyright {
	color: #BFBFBF;
    float: left;
}

ul.posts {
    margin: 20px 20px 40px;
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
	margin: 10px auto;
}