body {
    font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans-Serif';
    margin: 0 0;
    background-color: #DDD;
    color: #333;
}

a {
    text-decoration: none;
	transition: color 0.3s;
    color: #507ec9;
}

a:hover {
    color: #2D5493;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    color: #333;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    text-align: left;
    color: #333;
}

p {
    font-size: 1.0em;
    line-height: 1.5em;
    color: #555;
    text-align: justify;
}

.container ul li, .container ol li {
    font-size: 1.0em;
    line-height: 1.8em;
    color: #555;
}

.container ul li ul li, .container ol li ol li{
    font-size: 0.8em;
    line-height: 1.8em;
    color: #666;
}

.container {
    padding: 0% 5% 0% 5%;
	max-width: 50em;
    margin: 0 auto;
}

#footer {
    padding: 1em;
    text-align: center;
}

#float-right {
    float: right;
    height: 100%;
}

#logo {
    display: inline-block;
    vertical-align: middle;
    width: 8em;
}

#float-right ul {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.6em;
    margin: 0;
    padding: 0;
}

#float-right ul li {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin-left: 0.8em;
}

#footer p.copyright {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.6em;
    margin: 0;
    color: #999;
}

#txt1 {
    font-size: 1.5em;
    height: 1.2em;
    border-top-left-radius : 0.3em;
    border-bottom-left-radius : 0.3em;
    border: 1px solid #999;
    background-color: #EEE;
    padding: 0.1em 0.5em;
    margin: 0 0 0 0;
    border-right-style: none;
}

#txt1 :focus {
    border-color: #507ec9;
}

#btn1 {
    font-size: 1em;
    height: 2.2em;
    width: 2.2em;
    border-top-right-radius : 0.3em;
    border-bottom-right-radius : 0.3em;
    margin: 0 0 0 0;
    background-color: #507ec9;
    border: none;
}

#btn1 img {
    width: 1.4em;
    height: 1.4em;
    display: inline-block;
}

.search {
    min-height: 5em;
    margin: 0 auto;
    display: table;
}

.inner {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.vertical-center::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#record {
    text-align: center;
}

#suggest input {
    font-size: 1.0em;
    background-color: #EEE;
    border: 1px solid #507ec9;
    border-radius: 0.3em;
    color: #507ec9;
    transition-duration: 0.3s;
    margin: 0.2em;
}

#suggest input:hover {
    background-color: #507ec9;
    color: #EEE;
}

