<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/users/jcyang/css/main.css">
			<script type="text/javascript" src="/users/jcyang/plugin/LaTeXMathML.js"></script>
			<script type="text/javascript" src="/users/jcyang/plugin/drag-and-drop.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
		        	<li><a class = "pagelist" href="/users/jcyang/about">About Me</a></li>
	        		<li><a class = "pagelist" href="/users/jcyang/assets/files/cv.pdf">Curriculum Vitae</a></li>
				<li><a class = "icon" href="/users/jcyang" draggable="true" ondragstart="drag(event)"></a></li>
				<li><a class = "pagelist" href="/users/jcyang/teaching">Teaching</a></li>
	        		<li><a class = "pagelist" href="#" ondrop="drop(event)" ondragover="allowDrop(event)">Miscellaneous &#9662;</a>
	        			<ul class="dropdown">
	        				<li><a href="/users/jcyang/blog">Blog</a></li>
						<li><a href="#">Piano</a></li>
						<li><a href="#">Rock Music</a></li>
						<li><a href="#">Shorthand</a></li>
						<li><a href="#">Calligraphy</a></li>
						<li><a href="#">Programming</a></li>
						<li><a href="#">Travel</a></li>
					</ul>
				</li>
	    		</ul>
			</nav>
			
			<div class="container">
				{{ content }}
			</div><!-- /.container -->
			
			<footer>
	    		<ul>
	        		<li class="copyright">Copyright &#169 2017 Jincheng Yang</li>
	        		<li><a href="mailto:jcyang@math.utexas.edu">Email</a></li>
	        		<li><a href="https://github.com/teddyyjc">GitHub</a></li>
	        		<li><a href="https://www.linkedin.com/in/jincheng-yang/">LinkedIn</a></li>
	        		<li><a href="https://www.ma.utexas.edu/" style="color:#BF5700">UT Math</a></li>
				</ul>
			</footer>
		</body>
	</html>
