<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
		        	<li><a class = "pagelist" href="/about">About</a></li>
	        		<li><a class = "pagelist" href="../assets/files/Jincheng Yang.pdf">CV</a></li>
					<li><a class = "icon" href="/"></a></li>
	        		<li><a class = "pagelist" href="/blog">Blog</a></li>
	        		<li><a class = "dropdown" href="/Miscellaneous">Miscellaneous &#9662;</a>
	        			<ul class="dropdown-content">
						<li><a href="#">Piano</a></li>
						<li><a href="#">Rock Music</a></li>
						<li><a href="#">Shorthand</a></li>
						<li><a href="#">Calligraphy</a></li>
						<li><a href="#">Programming</a></li>
						<li><a href="#">Travel</a></li>
					</ul>
				</li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:teddyyjc@gmail.com">email</a></li>
	        		<li><a href="https://github.com/teddyyjc">github.com/teddyyjc</a></li>
				</ul>
			</footer>
		</body>
	</html>
