<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.8">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/grid.css">
		<!-- link to fonts -->
		<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100i,200i,400|Cinzel|Playfair+Display:400,400i|Exo:300,600|Roboto:400|Roboto+Condensed:300|Dancing+Script:400|PT+Serif:400,400i|Palanquin+Dark:400|Noto+Serif:400,400i" rel="stylesheet">
		<!-- JavaScrips -->
		<script type="text/javascript" src="{{ site.baseurl }}/plugin/drag-and-drop.js"></script>
		{% if page.use-math %}
			{% include mathjax_support %}
		{% endif %}
		{% if page.use-d3 %}
			<script src="https://d3js.org/d3.v4.min.js"></script>
		{% endif %}

		<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108717380-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-108717380-1');
		</script>
	</head>

	<body>

		<canvas id="myCanvas" width="1000" height="360" >
			Your browser does not support the canvas element.
		</canvas>

		<div id="mt">
			<p id="name">Jincheng Yang</p>
			<p id="institute">Institute <i style="font-family: serif;">for</i> Advanced Study</p>
		</div>

		<nav>
			<div id="nav-container">

				<div class = "dropdown-block" id = "academic-dropdown-block">
					<a href="{{ site.baseurl }}/academic#" ondrop="drop(event)" ondragover="allowDrop(event)" id="academic">Academic &#9662;</a>
	
					<div class= "dropdown" id="academic-dropdown">
						<a class = "dropdown-first" href="{{ site.baseurl }}/academic#publications">Publications</a>
						<a href="{{ site.baseurl }}/academic#talks">Talks</a>
						<a href="{{ site.baseurl }}/academic#blog">Blog</a>
						<a class = "dropdown-last" href="{{ site.baseurl }}/academic#conferences">Conferences</a>
					</div>
				</div>

				<a href="{{ site.baseurl }}/cv" ondrop="drop(event)" ondragover="allowDrop(event)" id="cv">Curriculum Vitae</a>
				
				<a id = "icon" href="{{ site.baseurl }}/" draggable="true" ondragstart="drag(event)" title="Home Page"></a>

				<a href="{{ site.baseurl }}/teach" ondrop="drop(event)" ondragover="allowDrop(event)" id="teaching">Teaching</a>

				<a href="{{ site.baseurl }}/music" ondrop="drop(event)" ondragover="allowDrop(event)" id="music">Music</a>

				<div class = "dropdown-block" id = "menu-dropdown-block">
					<a href="#" id="menu">Menu &#9662;</a>
	
					<div class= "dropdown" id="menu-dropdown">
						<a class="dropdown-first" href="{{ site.baseurl }}/academic">Academic</a>
						<a href="{{ site.baseurl }}/cv">Curriculum Vitae</a>
						<a href="{{ site.baseurl }}/academic#publications">Publications</a>
						<a href="{{ site.baseurl }}/teach">Teaching</a>
						<a class="dropdown-last" href="{{ site.baseurl }}/music">Music</a>
					</div>
				</div>
			</div>
		</nav>

		{{ content }}	

		<footer>
			<div id="footer-container">
				<!-- <a href="https://www.utexas.edu"><img id="logo" src="https://www.utexas.edu/sites/all/themes/utexas/img/general/logo.svg"></a> -->
				<!-- <a href="https://mathematics.uchicago.edu/"><img id="logo" src="{{ site.baseurl }}/assets/images/uc_logo.jpeg"></a> -->
				<a href="https://www.ias.edu/math"><img id="logo" src="{{ site.baseurl }}/assets/images/ias_logo.svg"></a>
				
				<p id="copyright">Copyright &#169 2024 Jincheng Yang</p>

				<ul>
					<li><a
						id="cy-effective-orcid-url"
						class="underline"
						href="https://orcid.org/0000-0002-3581-9425"
						target="orcid.widget"
						rel="me noopener noreferrer"
						style="vertical-align: bottom">
						<img
							src="{{ site.baseurl }}/assets/images/orcid.svg"
							style="width: 1em; vertical-align: text-bottom;"
							alt="ORCID iD icon"/>
							ORCiD
					</a></li>
					<li><a
						class="underline"
						href="https://arxiv.org/a/yang_j_6.html"
						style="vertical-align: bottom">
						<img
							src="{{ site.baseurl }}/assets/images/arxiv.svg"
							style="height: 1em; vertical-align: text-bottom;"
							alt="arXiv icon"/>
							arXiv
					</a></li>
					<li><a
						class="underline"
						href="https://scholar.google.com/citations?user=jiuXYIIAAAAJ"
						style="vertical-align: bottom">
						<img
							src="{{ site.baseurl }}/assets/images/googlescholar.svg"
							style="height: 1em; vertical-align: text-bottom;"
							alt="google scholar icon"/>
							Google
					</a></li>
					<li><a
						class="underline"
						href="https://www.linkedin.com/in/jincheng-yang/"
						style="vertical-align: bottom">
						<img
							src="{{ site.baseurl }}/assets/images/linkedin.svg"
							style="height: 1em; vertical-align: text-bottom;"
							alt="LinkedIn icon"/>
							LinkedIn
					</a></li>
					<li><a
						class="underline"
						href="https://www.researchgate.net/profile/Jincheng-Yang"
						style="vertical-align: bottom">
						<img
							src="{{ site.baseurl }}/assets/images/ResearchGate.svg"
							style="height: 1em; vertical-align: text-bottom;"
							alt="research gate icon"/>
							ResearchGate
					</a></li>
					<!-- <li><a href="mailto:jincheng@uchicago.edu">Email</a></li> -->
				</ul>
			</div>
		</footer>


		
		<script type="text/javascript" src="{{ site.baseurl }}/plugin/Escher.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/plugin/set_icon.js"></script>
	</body>
</html>
